img {
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #00C8D8;
    text-align: center;
}

h2 {
    color: #F45664;
}

.add {
    text-align: center;
    clear: both;
}

.want {
    float: left;
    margin-left: 10%;
}

.ate {
    float: right;
    margin-right: 10%;
}



